@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    /* background-image: url(../img/img-20241030T115304Z-001/img/fundo.jpg); */
    /* background-size: 100vw; */
    /* background-repeat: no-repeat; */
    font-family: "Nunito Sans", sans-serif;
    color: white;
    background-color: #1d1d1d;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.text {
    font-size: 18px;
}

@media (min-width: 1000px) {
    #capa {
        height: 500px !important;
    }
}