@media(max-width: 425px){
    .container{
        max-width: 350px;
    }
    .header-container {
        height: 60px;
        font-size: 14px;
        
    }

    .header-navbar {
        margin-right: 20px;
    }

    ul {
        gap: 30px; /* Reduz o espaçamento entre os itens do menu */
        align-items: center;
        display: none;
    }

    .footer-container {
        height: 40px;
    }

    #footer-name {
        font-size: 14px;
        padding: 5px 0;
    }

    #main-banner-img {
        width: 100%; /* Mantém a largura total do contêiner */
        height: auto; /* Mantém a proporção da imagem */
        max-width: none; /* Remove qualquer limitação de largura */
        margin-top: 150px; /* Mantém a margem superior */
    }

    #main-text {
        max-width: 100%; /* Ajusta para ocupar toda a largura */
        margin-top: 100px;
        font-size: 16px; /* Reduz o tamanho da fonte */
    }

    .preservation {
        flex-direction: column; /* Muda para coluna em telas pequenas */
        gap: 50px; /* Reduz o espaço entre os elementos */
        margin-top: 300px; /* Ajusta a margem superior */
    }

    #preservation-text {
        max-width: 100%;
        margin-top: 20px;
        padding-left: 20px; /* Reduz o padding */
        height: auto; /* Permite altura automática */
    }

    #preservation-image {
        width: 100%; /* Ajusta a largura da imagem */
        border-radius: 20px; /* Reduz o raio da borda */
    }

    #carrousel-header {
        font-size: 28px; 
        /* margin-top: 60px; */
        text-align: left;
        margin: 0;
        max-width: 350px;
        left: 0;
    }

    .carrousel {
        margin-top: 30px; /* Ajusta a margem superior */
    }

    .carousel-container {
        max-width: 90%; /* Limita a largura */
    }

    .carousel-button {
        font-size: 30px; /* Reduz o tamanho do botão */
    }

    #infoBox {
        font-size: 16px; /* Ajusta o tamanho da fonte */
    }

    .social-media {
        gap: 5px; /* Reduz o espaçamento entre ícones */
    }


    .menu-card{
        display: none;
    }
    .toggle{
        display: block;
        max-width: 80px;
    }
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
}